---
layout: base-layout.njk
---

<h2>Waterdeep's Bloody Class Conflict</h2>

<p>
	About 100 years after Waterdeep: Dragon Heist, the gap between the proletariat
	and bourgeoisie has grown out of control. The lower class of water deep lacks
	representation in the government, and suffers from excessive taxation, police
	brutality, automation of their work, and their children being drafted into the
	military.
</p>

<p>
	Our adventurers find themselves as free agents, looking to make some coin via
	their fixer, Jimmy Jim Jim, based out of the Yawning Portal. As they spend
	time in this setting, they will find themselves choosing a side.
</p>

<div style="display: flex; flex-wrap: wrap; justify-content: center;">
	<div class="card fp-card" onclick="window.location='/chapters'">
		<div class="container">
			<h4><b>Chapters</b></h4>
			<p>Campaign story laid out by session</p>
		</div>
	</div>

	<div class="card fp-card" onclick="window.location='/places'">
		<div class="container">
			<h4><b>Places</b></h4>
			<p>Locations in and around Waterdeep by ward</p>
		</div>
	</div>

	<div class="card fp-card" onclick="window.location='/people'">
		<div class="container">
			<h4><b>People</b></h4>
			<p>Hero, villain, and everything in between</p>
		</div>
	</div>

	<div class="card fp-card" onclick="window.location='/map'">
		<div class="container">
			<h4><b>Map</b></h4>
			<p>Map of Waterdeep and more</p>
		</div>
	</div>
</div>
