---
layout: base-layout.njk
pagination:
  data: collections.person
  size: 10
  reverse: true
  alias: people
---

<h2>People</h2>

<div id="people-list"></div>

<script type="module">
	import {
		html,
		render,
		Component,
	} from "https://unpkg.com/htm/preact/index.mjs?module";

	const peopleList = [
	{% for person in people %}
		'{{person.data.title}}',
	{% endfor %}
	]

	console.log(peopleList)

	class App extends Component {
		constructor() {
			super();
			this.state = {
				search: ''
			};
		}

		onInput(e){
			this.setState({ search: e.target.value })
		}

		render(props, state) {
			const filteredList = peopleList.filter(person =>
				person.toLowerCase().includes(state.search.toLowerCase()))

			return html`<div>
			<div><input onInput=${e => this.onInput(e)} value=${state.search} /></div>
			<div>${state.search}</div>
			<div>
				${filteredList.map(person => html`<div>${person}</div>`)}
			</div>
			</div>`;
		}
	}

	render(html`<${App} name="yeet" />`, document.querySelector("#people-list"));
</script>
