---
layout: base-layout.njk
pagination:
        data: collections.person
        size: 10
        reverse: true
        alias: people
---

<h2>People</h2>

<div id="people-list"></div>

<script type="module">
	import {
	renderCardList
	} from "/js/CardSearch.js";

	const peopleList = [
	{% for person in people %}
		['{{person.data.title}}',  '{{person.data.description}}', '{{person.url}}' ],
	{% endfor %}
	]

	renderCardList(peopleList, "#people-list")
</script>
